/* *{
    margin: 0;
    padding: 0;
    
body{
    background-color: #FFFFFD;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}
form{
    display: block;
}
header{
    background-color: #FFFFFC;
    width: 100%;
    margin: auto;
    height: 70px;
    
   
}
h2{
    position: relative;
    left: 15px;
    top: 20px;
    bottom: 5px;
    align-items: right;
    font-size: 25px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;

}
.any{
    position: relative;
    left: 0;
    top: 20px;
    bottom: 5px;
    align-items: right;
    font-size: 25px;
    font-family: Helvetica,sans-serif ;
   
}


a{
    position: relative;
    left: 15px;
    font-family: Helvetica,sans-serif ;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    color: black;

}

div{
    position: relative;
    left: 15px;
    font-family: Helvetica,sans-serif ;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;

}

footer
{
    position: absolute;
    bottom: 0%;
    font-size: 50px;
    width: 100px;
    left: 15px;
    color: black;


}

#container{
    position: absolute;
    text-align: left;
}
