    
body{
    background-color: #FFFFFD;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}
form{
    display: block;
    font-family: Helvetica, sans-serif; 
    font-weight: bolder; 
    padding-left: 35px; 
    color: black; 
    font-size: 25px;
    left: 30px;
    
}
header{
    background-color: #FFFFFC;
    width: 100%;
    margin: auto;
    height: 40px;
     
}
h2{
    position: relative;
    left: 30px;
    top: 20px;
    bottom: 5px;
    align-items: right;
    font-size: 40px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;

}
.any{
    position: relative;
    left: 0;
    top: 20px;
    bottom: 5px;
    align-items: right;
    font-size: 25px;
    font-family: Helvetica,sans-serif ;
   
}


a{
    position: absolute;
    display: flex;
    left: 15px;
    top: 820px;
    font-family: Helvetica,sans-serif ;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    color: black;

}

footer{
    
    font-size: 40px;
    width: 100px;
    left: 15px;
    color: black;
    


}

a{
    padding-left: 15px; 
    font-family: Helvetica, sans-serif; 
    color: black; 
    font-weight: bold; 
    font-size: 40px; 
    text-justify: auto;
}
a:hover{
    text-decoration: none;
}