body{
    background-color: #FFFFFD;
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    }
    header{
    background-color: #FFFFFD;
    max-width: 1000px;
    margin-left: 40px;
    position: relative;
}
h2{
     position: relative;
    left: 15px;
    top: 12px;
    font-weight: bolder;    
    font-size: 30px;
}
h6{
    position: relative;
    left: 15px;
    font-family:  Helvetica, Sans-Serif;
    font-weight: bold;
    font-size: 20px;
}

p{
    position: relative;
    left: 50px;
    font-family:  Helvetica, Sans-Serif;
    font-weight: bold;
    font-size: 32px;
}
footer{
     background-color: #FFFFFD;
     font-family: Helvetica, sans-serif;
    font-size: medium;
     text-align: right;
    position: absolute;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
     padding-right: 15px;
}            
    
footer ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

footer ul li a{
    text-decoration: none;
    color: black;
    font-family: Helvetica;
    font-size: 1.2rem;
    font-weight: bold;

}

.footer ul li::before {
    content: "";
    height: 3px;
    width: 0%;
    background: black;
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;
}
.footer ul li:hover::before {
    width: 100%;
}

#tlaloc{ /* Tlaloc es una conjunto ce caracteres temporal, en lo que añado un dibujo más sofisticado que ocupe su lugar*/
    font-size: 100px;
        text-align: right;
        padding-right: 95px;
        padding-top: 50px;
}