
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FFFFFD;
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;


    /*background-image:
    background-repeat: no-repeat;
    background-size: cover;*/
    
    
}
@media (max-width: 300px){
        body{
            flex-direction: column;
        
}
        body header{
            flex-basis: 100%;
        }
}

header{
    background-color: #FFFFFD;
    max-width: 1000px;
    margin-left: 40px;
    position: relative;
    
    
   
}
h2{
    position: relative;
    right: 120px;
    font-weight: bolder;
    align-items: right;
    font-size: 30px;
}


.navbar {
    width: 80%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.sub{
    font-size: 20px;
}

.welcome
{
    position: relative;
    left: 15px;
    font-family:  Helvetica, Sans-Serif;
    font-weight: bold;
    font-size: 32px;
}

footer{
   
    background-color: #FFFFFD;
    font-family: Helvetica, sans-serif;
    font-size: medium;
    text-align: right;
    position: absolute;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    padding-right: 15px;
    
    
}

footer ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

footer ul li a{
    text-decoration: none;
    color: black;
    font-family: Helvetica;
    font-size: 1.2rem;
    font-weight: bold;

}

.footer ul li::before {
    content: "";
    height: 3px;
    width: 0%;
    background: black;
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;
}
.footer ul li:hover::before {
    width: 100%;
}

#tlaloc{
    font-size: 80px;
    text-align: right;
    padding-right: 20px;
    padding-bottom: 15px;
}