*{
    background-color: #FFFFFD;
}
body{
    background-color: #FFFFFD;
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    }
    
header{
    background-color: #FFFFFD;
    max-width: 1000px;
    margin-left: 25px;
    position: relative;
    
   
}
.colors{
   display: flex;
   position: relative;
   top: 50px;
   left: 15px;
   
  
}

.red{
    background-color: #DB1010;
    width: 12px;
    height: 30px;
    

   
}
.blue{
    background-color: #2D6ED1;
    width: 12px;
    height: 30px;
 
}
.yellow{
    background-color:#F5CB36;
    width: 12px;
    height: 30px;
    
}
h2{
     position: relative;
    left: 60px;
    top: 12px;
    font-weight: bolder;    
    font-size: 40px;
    
}
hr{
    
    width: 380px;
    margin-left: 1%;
    margin-bottom: 1%;
    border-top: 3px solid black;
}
h6{
    position: relative;
    left: 10px;
    font-family:  Helvetica, Sans-Serif;
    font-weight: bold;
    font-size: 20px;
}

p{
    position: relative;
    left: 50px;
    font-family:  Helvetica, Sans-Serif;
    font-weight: bold;
    font-size: 32px;
}
footer{
     background-color: #FFFFFD;
     font-family: Helvetica, sans-serif;
    font-size: medium;
     text-align: right;
    position: absolute;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
     padding-right: 15px;
}            
    
footer ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

footer ul li a{
    text-decoration: none;
    color: black;
    font-family: Helvetica;
    font-size: 1.2rem;
    font-weight: bold;

}
a:hover{
    text-decoration: none;
}
.container{
    margin-top: 20px;
}