*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FFFFFD;
    font-family:  Helvetica, sans-serif;
}
header{
    background-color: #FFEB81;
    width: 100%;
    margin: auto;
    height: 70px;}
    
    
h2{
    
        position: relative;
        left: 20px;
        top: 20px;
        bottom: 5px;
        font-weight: bold;
        align-items: right;
        font-size: 30px;
       
    
}

footer
{background-color: #FFEB81;
    position: relative;
    width: 100px;
    left: 15px;


}
a{
    position: relative;
    left: 15px;
    font-family: monospace;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    color: black;

}

img{
    align-items: center;
    width: 750px;
    margin-top: 40px;
}